extends ../layout

block content
  .container
    h1.main-title= event.title
    .event.show
      //- .content= event.content
      include _event
      
      .container
        dl.row
          dt.col-sm-3 Location
          dd.col-sm-9= event.location
          dt.col-sm-3 Time
          dd.col-sm-1= event.startTime
          dd.col-sm-1 ~
          dd.col-sm-7= event.endTime
          dt.col-sm-3 Organizer Name
          dd.col-sm-9= event.organizerName
          dt.col-sm-3 Organizer Description
          dd.col-sm-9= event.organizerDescription
          dt.col-sm-3 Price
          if !event.pee
            dd.col-sm-9 Free
          dd.col-sm-9= event.pee
         
      .buttons
        if currentUser
          button.btn.btn-primary.event-like-btn(data-id=event.id) 
            span.for-loading #[i.fa.fa-spin.fa-refresh] Loading
            span #[i.fa.fa-thumbs-up] Like
          if event.author && event.author.id == currentUser.id
            | 
            a.btn.btn-outline-secondary(href=`/events/${event.id}/edit`) Edit
            | 
            a.btn.btn-outline-danger.need-confirm-btn(href=`/events/${event.id}?_method=delete`) Delete
     
    if event.numAnswers > 0
     if event.author && event.author.id == currentUser.id
      hr
      h3 #{event.numAnswers} participant(s)
      .answers.show
        each answer in answers
          include _answer 

    if currentUser
      form(action=`/events/${event.id}/answers`, method='POST')
        .form-group
          label(for='answer') Join Register
          textarea.form-control(name="content", rows="3", placeholder="What is the reason for participation?")
        button.btn.btn-primary(type="submit") Submit


  script(src='/javascripts/event_client.js')